# List

#### 1. If we want to represent a group of elements as a single entity where insertion order is preserved and duplicate elements are allowed, then we should go for a list.
#### 2. Insertion order is preserved
#### 3. Duplicate elements are allowed.
#### 4. Heterogeneous elements are allowed
#### 5. List is Dynamic, we can increase or decrease based on our requirement.
#### 6. In list elements, we can place within the Square brackets with a comma separator. ([]) 
#### 7. List supports positive and negative indiex.
#### 8. list is mutable.

# Craetion of List

In [3]:
# We can create an empty list
l = []
print(type(l))
print(l)

<class 'list'>
[]

In [4]:
# if we know the elements already, then we can create a list as follows
l = [10,20,30,40,50]
l

[10, 20, 30, 40, 50]

In [7]:
# with dynamic input
l = eval(input('Enter List'))
print(type(l))
print(l)

Enter List [10,20,40,50,60,70]

<class 'list'>
[10, 20, 40, 50, 60, 70]

In [8]:
# with list function
l = list(range(0,10,2))
l

[0, 2, 4, 6, 8]

In [9]:
# with split() function
s = 'Learning python is very easy'
l = s.split()
l

['Learning', 'python', 'is', 'very', 'easy']

### Sometimes we can take a list inside another list, such as a type of list called a nested list.

In [11]:
l = [10,20,30,[40,50,60]]
l

[10, 20, 30, [40, 50, 60]]

# Accessing Elements of a List

### By using an index
##### 1. List follows a zero-based index; the index of the first element is zero
##### 2. List supports both +ve and -ve index
##### 3. +ve index means left to right.
##### 4. -ve index means right to left.

In [13]:
l = [10,20,30,40,[50,60,70]]
l[0]

10

In [14]:
l[-1]

[50, 60, 70]

In [15]:
l[-1][-1]

70

In [16]:
l[4]

[50, 60, 70]

In [17]:
l[4][0]

50

In [18]:
l[7]

IndexError: list index out of range

### By using slice
##### l2 = l[start : end : stop]
##### start -> It indicates the index where the slice has to start. The default value is 0.
##### end -> It indicates the index where the slice has to end. The default value is max allowed index of list ie length of the list.
##### increment value. Default value is 1

In [21]:
l = [1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
l[:-1:-1]

[]

In [25]:
l[:0:1]

[]

In [26]:
l[1:9:2]

[2, 4, 6, 8]

# List vs Mutability

#### once we craete the list we can change its content. Hence list objects are mutable.

In [27]:
l = [1,2,3,4,True,False,10+20j,'AI']
print(l)
l[0] = 400
print(l)

[1, 2, 3, 4, True, False, (10+20j), 'AI']
[400, 2, 3, 4, True, False, (10+20j), 'AI']

# Important Functions of List

## 1. To get information about list

#### 1.1 len() - Returns the number of elements present in the list

In [28]:
l = [1,2,'ai',True,False,10+20j,20.25,[10,20,30,40]]
len(l)

8

In [32]:
len(l[7])

4

#### 1.2 count() - Returns the number of occurrences of specified item in the list

In [36]:
l = [10,20,30,10,50,30,60,10,40,50,10,40,20,40]
l.count(10)

4

In [37]:
l.count(20)

2

In [38]:
l.count(40)

3

#### 1.3 index() - Returns the index of first occurrence of the specified element item.

In [39]:
l = [10,20,30,10,50,30,60,10,40,50,10,40,20,40]
l.index(10)

0

In [40]:
l.index(40)

8

#### Note: if the specified element not present in the list then we will get ValueError. Henece before index() method we have to check whether item present in the list or not by using in operator.

In [42]:
100 in l

False

In [43]:
40 in l

True

## 2. To Manipulating Elements of list

### 2.1 append() 
#### -> To add item at the end of the list.

In [44]:
l = []
l.append(10)
l.append(20)
l.append(30)
l

[10, 20, 30]

In [45]:
# to add all elements to list upto 100 which are divisible by 10
l = []
for i in range(101):
    if i%10 == 0:
        l.append(i)
l

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 2.2 insert() 
#### to insert item at specified index position
#### insert( index, object)

In [57]:
l = [1,2,3,4,5,6,7]
l.insert(1,1000)
l

[1, 1000, 2, 3, 4, 5, 6, 7]

In [58]:
l.insert(7,200)
l

[1, 1000, 2, 3, 4, 5, 6, 200, 7]

#### Note: if the specified index is greater than the max index then the elemet will be inserted at last position. if the specified index is smaller than min index then element willl be inserted at first position

In [59]:
l = [10,20,30]
l.insert(3,500)
l

[10, 20, 30, 500]

In [60]:
l = [10,20,30]
l.insert(-2,3000)
l

[10, 3000, 20, 30]

#### 2.3 extend() To add all items of one list to another list.
#### l1.extend(l2)
#### all items present in l2 will be added to l1

In [62]:
l1 = ['chicken','mutton','fish']
l2 = ['rc','kf','fo']
l1.extend(l2)
l1

['chicken', 'mutton', 'fish', 'rc', 'kf', 'fo']

### 2.4 remove () -> 
#### we can use this function to remove specified item from the list. if the item present multiple times then only first occurrence will be removed.
#### if the specified element not present not present we get ValueError

In [63]:
l = [10,20,30,40,50]
l.remove(10)
l

[20, 30, 40, 50]

In [64]:
l.remove(60)

ValueError: list.remove(x): x not in list

### 2.5 pop()
#### It removes and return the last element of the list.
#### This only function which manipulates list and return some element.
#### In general we can use pop() function to remove last element of the list. but we can use to remove elements based on index.
#### l.pop(index) -> To Remove and Return element present in the specified index.
#### l.pop() -> To Remove and return last element of the list

In [67]:
l = [1,2.5,10+20j,True,False,'abc']
print(l.pop()) # it will remove last element from the list and it will return.
print(l)

abc
[1, 2.5, (10+20j), True, False]

### 2.6 clear()
#### We can use clear() function to remove all elements of list.

In [85]:
l = [1,2.5,10+20j,True,False,'abc']
l.clear()
l

[]

# Differences between remove() and pop()

# remove()
#### 1. we can use to remove specific element in the list.
#### 2. It won't return any value.
#### 3. if the specified element not in list we get ValueError.
# pop()
#### 1. we can use to remove element from the list. if we not specified the element it will remove last element. if we specified element it will remove specified element
#### 2. It will return removed element.
#### 3. if list emppty then we get error.

# 3. Ordering Elements of List

### 3.1 reverse()
#### we can use to reverse() order of elements of list

In [70]:
l = [10,30,20,60,70]
l.reverse()
l

[70, 60, 20, 30, 10]

### 3.2 sort()
#### for numbers -> Default Natural sorting order Ascending Order.
#### for Strings -> Default Natural sorting order Aphabetical Order.

In [71]:
l = l = [10,30,20,60,70]
l.sort()
l

[10, 20, 30, 60, 70]

In [72]:
l = l = [10,30,20,60,70]
l.sort(reverse=True)
l

[70, 60, 30, 20, 10]

In [73]:
l = ['Dog','Banana','Cat','Apple']
l.sort()
l

['Apple', 'Banana', 'Cat', 'Dog']

In [74]:
l = ['Dog','Banana','Cat','Apple']
l.sort(reverse=True)
l

['Dog', 'Cat', 'Banana', 'Apple']

### Note: To use sort() function, compulsory list should contains only homogeneous elements otherwise we will get error.

In [75]:
l = [10,30,20,60,70,'Dog','Banana','Cat','Apple']
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

# Aliasing
#### The process of giving another reference variable to the existing list is called aliasing
#### The problem in this approach is by using one reference variable if we are changing content, then those changes will be reflected to the other reference variable

In [76]:
l1 = [10,20,30,'ai','da','ds']
l1 = l2
print(id(l1))
print(id(l2))

2239261708288
2239261708288

In [77]:
l2[2] = 100000

In [78]:
print(l1)
print(l2)

['rc', 'kf', 100000]
['rc', 'kf', 100000]

# Cloning
#### To Overcome this problem we should go for cloaning.
#### The process of creating exactly duplicate independent object is called cloning.
#### we can implement cloning by using slice operator and by using copy() function.
## Slice Operator

In [79]:
l1 = [10,20,30,'ai','da','ds']
l2 = l1[:]
print(id(l1))
print(id(l2))

2239263732544
2239262816896

In [80]:
l2[2] = [300000]
l2

[10, 20, [300000], 'ai', 'da', 'ds']

In [81]:
l1

[10, 20, 30, 'ai', 'da', 'ds']

## copy()

In [82]:
l1 = [10,20,30,'ai','da','ds']
l2 = l1.copy()
print(id(l1))
print(id(l2))

2239263710848
2239263836032

In [83]:
l2[2] = 50000000
l2

[10, 20, 50000000, 'ai', 'da', 'ds']

In [84]:
l1

[10, 20, 30, 'ai', 'da', 'ds']

# Q. difference between = operator and copy() function
### = Operator meant for aliasing
### copy() Function meant for cloning

# List Comprehensions
#### It is a very easy and compact way of creating a list object from any iterable object like List, Tuple, Dictionary, based on some condition

## [ expression for item in list if condition]

In [86]:
l = [x for x in range(1,20) if x%2==0]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
l = [x*x for x in range(1,20) if x%3==0]
l

[9, 36, 81, 144, 225, 324]

In [93]:
l = [x*x for x in set([10,20,30,40])]
l

[1600, 100, 400, 900]

In [94]:
l1 = [10,20,30,40]
l2 = [30,40,50,60]
l3 = [x for x in l1 if x not in l2]
l3

[10, 20]

In [95]:
l = [x for x in range(1,10) if x%2 != 0]
l

[1, 3, 5, 7, 9]

In [98]:
text = "datascience"
l = [x for x in text if x not in 'aeiou']
l

['d', 't', 's', 'c', 'n', 'c']

In [101]:
words = ["hello", "world", "python"]
capitalized = [x.upper() for x in words]
capitalized

['HELLO', 'WORLD', 'PYTHON']