# Tuple

#### 1. A tuple is the same as a list except that it is immutable. Once we create a tuble object, we can perform any changes in that object
#### 2. Hence, a Tuple is Read only version of a list.
#### 3. If our data is fixed and never changes, then we should go for a Tuple.
#### 4. Insertion order is preserved.
#### 5. Duplicates are allowed.
#### 6. Heterogeneous objects are allowed.
#### 7. we can preserve insertion order, and we can differentiate duplicate objects by using an index. Hence Tuple support index.
#### 8. Tuple supports +ve and -ve index.
#### 9. we can represent tuple elements within parentheses and a comma separator.
#### 10. parentheses are optional but recommended to use.

In [5]:
t = 10,20,30,40
print(type(t))

<class 'tuple'>

In [6]:
t = (10,20,30,40)
print(type(t))

<class 'tuple'>

In [7]:
t

(10, 20, 30, 40)

In [8]:
t = ()
print(type(t))

<class 'tuple'>

### Note: we have to take care of single valued tuple. compulsary the value should ends with comma, otherwise it is not treated as tuple

In [9]:
t = (10)
print(type(t))
print(t)

<class 'int'>
10

In [10]:
t = (10,)
print(type(t))
print(t)

<class 'tuple'>
(10,)

In [11]:
l1 = [1,2,3,4,5,6]
t = tuple(l1)
t

(1, 2, 3, 4, 5, 6)

### To access tuple by using index and slicing

In [12]:
# by using index
t

(1, 2, 3, 4, 5, 6)

In [14]:
t[0]

1

In [15]:
t[5]

6

In [16]:
t[20]

IndexError: tuple index out of range

In [18]:
# slice
t[1:2:3]

(2,)

In [19]:
t[:0:1]

()

In [20]:
t[:-1:-1]

()

## Mathematical Operators for Tuple
#### Concatenation Operator(+)

In [21]:
t1 = (10,20,30,40)
t2 = (10,20,'AI',True,20+10j)
t1+t2

(10, 20, 30, 40, 10, 20, 'AI', True, (20+10j))

#### Multiplication Operator

In [22]:
t1 = (10,20,30)
t2 = t1*2
t2

(10, 20, 30, 10, 20, 30)

## Important Functions of Tuple

#### len() : Returns the number of elements present in the tuple

In [23]:
t = (10,20,10,30,40,30,40,True,False,'AI','ML',10+20j)
len(t)

12

#### count() : Returns the number occurrences of given element in the tuple.

In [24]:
t.count(10)

2

#### index()
#### Returns the index of the first occurrence of the given element
#### if the specified element is not present in the tuple we will get value error.

In [25]:
t.index(10)

0

In [26]:
t.index(40)

4

#### sorted() : To sort elements based on default natural sorting order.

In [27]:
t = (40,20,30,10,70)
t1 = sorted(t)
t1

[10, 20, 30, 40, 70]

In [28]:
t = (40,20,30,10,70)
t1 = sorted(t,reverse=True)
t1

[70, 40, 30, 20, 10]

#### min() and max()
#### This function return min and max values according to default sorting order

In [29]:
t = (40,20,30,10,70)
print(max(t))
print(min(t))

70
10

# Tuple Packing and Unpacking

#### we can create a tuple by packing a group of variable

In [32]:
a = 10
b = 20
c = 30
d = 20
t = a,b,c,d
print(t)
print(type(t))

(10, 20, 30, 20)
<class 'tuple'>

#### Here, a,b,c,d are packed into a Tuple: this is nothing but tuple packing.
#### Tuple unpacking is the reverse process of Tuple Packing.
#### we can unpack a Tuple and assign its values to different variables.

In [34]:
t = (10,20,30,40)
a,b,c,d = t
print('a=',a,'b=',b,'c=',c,'d=',d)

a= 10 b= 20 c= 30 d= 40

In [35]:
t = (10,20,30,40)
a,b,c,d = t
print('a=',a,'b=',b,'c=',c)

a= 10 b= 20 c= 30

#### Note At the time of tuple unpacking the number of variables and number of values should be same. otherwise we will get ValueError

In [36]:
t = (10,20,30,40)
a,b,c= t
print('a=',a,'b=',b,'c=',c)

ValueError: too many values to unpack (expected 3)