# set

#### 1. If we want to represent a group of unique values in a single unit, then we should go for a set.
#### 2. Duplicate elements are allowed.
#### 3. Insertion order is not preserved.
#### 4. indexing and slicing are not allowed.
#### 5. Heterogeneous elements are permitted.
#### 6. Set objects are mutable.
#### 7. We can represent a set in curly braces with a comma separator.

## Creation of set Objects

In [11]:
s = {10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

## We can create set object using set ( ) function s = set(any sequence)

In [12]:
l = [10,20,30,40,50,60]
s = set(l)
print(s)

{40, 10, 50, 20, 60, 30}

In [13]:
s = set(range(5))
print(s)

{0, 1, 2, 3, 4}

## Note
#### While creating an empty set, we have to take special care.
#### Compulsory We should use set( ) function.
#### s = { } -> It is treated as dictionary but not empty set.

In [14]:
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [15]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

# Important functions of set

### 1. add() 
#### -> To add item x to the set
#### -> add() function takes only one argument.
#### -> s.add(x)

In [17]:
s = {1,2,3,4,5,6}
s.add('AI')
s

{1, 2, 3, 4, 5, 6, 'AI'}

In [18]:
s = {1,2,3,4,5,6}
s.add('AI',2)
s

TypeError: set.add() takes exactly one argument (2 given)

## 2.update(x,y,z)

##### -> To add multiple items to the set
##### -> Arguments are not individual elements, and these are iterable objects like List, range, etc
##### -> All elements present in the given Iterable objects will be added to the set.

In [22]:
s = {10,20,30}
l = [1,2,3,4,5,6]
t = ('a','b','c')
s.update(l,range(90,95),t)
s

{1, 10, 2, 20, 3, 30, 4, 5, 6, 90, 91, 92, 93, 94, 'a', 'b', 'c'}

## What is the difference between add() and update()
##### 1. We can use add( ) to add an individual item to the set, whereas we can use the update () function to add multiple items to the set.
##### 2. The add () function takes only a single argument, and the update function takes multiple items.

## 3. copy()
#### -> Returns a copy of the set.
#### -> It is a cloned object, which means once we make any changes copy objects, those changes will not affect the original object.

In [26]:
l = [1,2,3,4]
s = {5,6,7}
s.update(l,range(20,30,3))
s

{1, 2, 3, 4, 5, 6, 7, 20, 23, 26, 29}

In [28]:
s2 = s.copy()
s2

{1, 2, 3, 4, 5, 6, 7, 20, 23, 26, 29}

## 4.pop()
#### It removes and returns some random element from the set.
#### If we pass any arguments to pop() in a set, we will get an error, unlike in a list, where it accepts an index.

In [29]:
s = {10,20,30,40,50,60,70}
s.pop()

50

In [33]:
s = {10,20,30,40,60}
s.pop()

20

In [35]:
s = {10,30,40,60,70}
s.pop()

70

In [36]:
s.pop(10)

TypeError: set.pop() takes no arguments (1 given)

## 5.remove()
##### It removes the specified element from the set.
##### If the specified element is not present in the list, then we will get KeyError

In [37]:
s = {10,20,30,40,50}
s.remove(10)
s

{20, 30, 40, 50}

In [38]:
s.remove(60)

KeyError: 60

## 6.discard(x)
##### It removes the specified element from the set.
##### If the specified element is not present in the set, then we won't get any error.

In [39]:
s = {1,2,3,4,5,6,7,8,9}
s.discard(2)
s

{1, 3, 4, 5, 6, 7, 8, 9}

In [40]:
s.discard(4)
s

{1, 3, 5, 6, 7, 8, 9}

## 7.clear()
#### -> To Remove all elements from the set

In [43]:
s = {10,20,30,40,50}
s.clear()
s

set()

# Explain the differences between pop(), remove(), discard() functions?

## pop()
##### Purpose: Removes and returns a random (arbitrary) element from the set.
##### Syntax: set.pop()
##### Cannot take any arguments.
##### If the set is empty, it raises a KeyError.

## remove()
##### Purpose: Removes the specified element from the set.
##### Syntax: set.remove(element)
##### If the element is not found, it raises a KeyError.

## discard()
##### Purpose: Removes the specified element from the set.
##### Syntax: set.discard(element)
##### If the element is not found, it does nothing (no error).

# Mathematical Operations on the set.

## 1.Union():
#### -> s1.union(s2). We can use this function to return all elements present in both sets.
#### -> s1.union(s2)
#### -> s1 | s2

In [45]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}
s1 | s2

{10, 20, 30, 40, 50, 60}

In [42]:
s1.union(s2)

{10, 20, 30, 40, 50, 60}

## 2.intersection():
#### -> s1.intersection(s2). We can use this function to return common elements present in both s1 and s2.
#### -> s1.intersection(s2)
#### -> s1 & s2

In [47]:
s1.intersection(s2)

{30, 40}

In [49]:
s1 & s2

{30, 40}

## 3.difference():
#### -> s1.difference(s2). We can use this function to return the elements in s1 but not in s2
#### -> s1.difference(s2)
#### -> s1 - s2

In [51]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}
s1.difference(s2)

{10, 20}

In [52]:
s1-s2

{10, 20}

## 4.symmetric_difference():
#### -> s1.symmetric_difference(s2). We can use this function to return the elements in either s1 OR s2 but not in both
#### -> s1.symmetric_difference(s2)
#### -> s1^s2

In [54]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}
s1.symmetric_difference(s2)

{10, 20, 50, 60}

In [55]:
s1^s2

{10, 20, 50, 60}

## 5.intersection_update():
#### -> set1.intersection_update(set2, set3, ...) 
#### -> Purpose: Keeps only common elements between sets (Intersection operation).
#### -> Modifies the original set.

In [65]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}

s1.intersection_update(s2)
s1

{3, 4}

In [66]:
s2

{3, 4, 5}

In [67]:
s2.intersection_update(s1)
s2

{3, 4}

In [69]:
# Intersection → Customers who bought from both stores
store_a = {"Alice", "Bob", "Charlie"}
store_b = {"Charlie", "David", "Emma"}

# Intersection → Customers who bought from both stores
common_customers = store_a.copy()
common_customers.intersection_update(store_b)
print("Common Customers:", common_customers)

Common Customers: {'Charlie'}

## 6.difference_update():
#### -> set1.difference_update(set2, set3, ...)
#### -> Purpose: Removes elements found in another set from the current set (Difference operation).
#### -> Modifies the original set.

In [70]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}

s1.difference_update(s2)
s1 # Removes elements {3, 4} from a

{1, 2}

In [72]:
# Difference → Customers who bought only from Store A
store_a = {"Alice", "Bob", "Charlie"}
store_b = {"Charlie", "David", "Emma"}

only_store_a = store_a.copy()
only_store_a.difference_update(store_b)

print("Only Store A:", only_store_a)

Only Store A: {'Alice', 'Bob'}

## 7.symmetric_difference_update():
#### -> set1.symmetric_difference_update(set2)
#### -> Purpose: Keeps only elements that are in either set, but not in both (symmetric difference).
#### -> Modifies the original set.

In [73]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

a.symmetric_difference_update(b)
print(a) #  Removes common elements (3) and keeps unique ones from both sets.

{1, 2, 3, 6, 7, 8}

In [75]:
store_a = {"Alice", "Bob", "Charlie"}
store_b = {"Charlie", "David", "Emma"}
# Symmetric Difference → Customers who bought from only one store
unique_customers = store_a.copy()
unique_customers.symmetric_difference_update(store_b)
print("Unique to One Store:", unique_customers)

Unique to One Store: {'Bob', 'Alice', 'David', 'Emma'}

# set comparison methods

## isdisjoint()
#### -> Checks if two sets have no elements in common.
#### -> Returns True if they are completely separate.
#### -> Returns False if they share even one element

In [76]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
s1.isdisjoint(s2)

True

In [77]:
s1 = {1,2,3,4}
s2 = {4,5,6,7,8}
s1.isdisjoint(s2)

False

## issubset()
#### -> Checks if all elements of one set are present in another.
#### -> Returns True if the first set is a subset of the second.

In [78]:
s1 = {1,2}
s2 = {1,2,3,4}
s1.issubset(s2)

True

In [79]:
s2.issubset(s1)

False

## issuperset()
#### -> Checks if the first set contains all elements of another set.
#### -> Opposite of issubset().

In [80]:
s1 = {1,2,3,4,5,6}
s2 = {1,2}
s1.issuperset(s2)

True

In [81]:
s2.issuperset(s1)

False

# Membership Operators

In [82]:
s = {10,2.34,'AI','DA','DS',True,False}
s

{10, 2.34, 'AI', 'DA', 'DS', False, True}

In [84]:
10 in s

True

In [86]:
True not in s

False

In [87]:
100 not in s

True

# set Comprehension

In [88]:
s = {x for x in range(1,100,10)}
s

{1, 11, 21, 31, 41, 51, 61, 71, 81, 91}

In [90]:
s = {x for x in range(1,100) if x%15==0}
s

{15, 30, 45, 60, 75, 90}

In [94]:
s = { x for x in list([1,2,3,4,5]) if x%2 != 0}
s

{1, 3, 5}

In [96]:
s = { x *2 for x in range(1,5)}
s

{2, 4, 6, 8}

In [99]:
s = {x for x in range(10,100) if x/10 != 0}
s

{10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}