# input()
#### The input() function is used to take input from the user during program execution.
#### Whatever the user types is always received as a string (text), even if they enter a number.

In [1]:
x = input('enter valus')
type(x)

enter valus 3

str

#### Write a program to read 2 numbers from the keyboard and print sum

In [8]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2cd Number: "))
print(f'The sum of {a} and {b} is {a+b}')

Enter 1st Number:  39
Enter 2cd Number:  50

The sum of 39 and 50 is 89

### how to read multiple values from the keyboard in a single line

In [14]:
a,b = [int(x) for x in input('Enter 2 Numbers:').split(",")]
print(f'Product of {a} and {b} is {a*b}')

Enter 2 Numbers: 23456789,98765432

Product of 23456789 and 98765432 is 2316719898917848

In [17]:
a,b,c = [float(x) for x in input('Enter 3 float number:').split(',')]
f'the product of {a} and {b} and {c} is {a*b*c}'

Enter 3 float number: 29.9,30.50,50.20

'the product of 29.9 and 30.5 and 50.2 is 45779.89'

# eval()

### eval() function take string and eavaluate the result

#### eval() is a built-in Python function that evaluates a string as a Python expression and returns the result.

In [18]:
x = eval('10,20,30')
x

(10, 20, 30)

In [30]:
x = list(eval(input('enter list')))
x

enter list 20,30,50

[20, 30, 50]

In [21]:
list(x)

[10, 20, 30, 40, 50]

In [26]:
l = [20,30,40]
for x in l:
    print(x)

20
30
40

# Output Statements

#### We can use print() function to display output.

### Form-1

#### print() with out any argument just it print new line character.

In [31]:
print()

### Form-2

In [32]:
print('Hello World')

Hello World

In [ ]:
#### \n -> New line
#### \t -> Horizontal Tab
#### \r -> Carriage Return
#### \b -> Back Space
#### \f -> Form Feed
#### \v -> Vertical Tab
#### \' -> Single Quote
#### \" -> Double Quote
#### \\ -> Back Slash Symbol

In [33]:
# we can use escape characters also
print('Hello \n world') # New line

Hello
 world

In [34]:
print('Hello \t world') # Horizontal Tab

Hello 	 world

In [35]:
print('Hello \r world') # Carriage Return

 world

## Form-3

In [36]:
# print() with variable number of arguments
a,b,c = 10,20,30
print('The Values are:',a,b,c)

The Values are: 10 20 30

In [37]:
#  by default output values are seperated by space. if we want we can specify seperator by usig 'sep' attribute

In [42]:
print(a,b,c,sep=' - ')

10 - 20 - 30

### Form -4 print() with end attribute

In [43]:
print('Ashok')
print('Learning')
print('DS')

Ashok
Learning
DS

In [45]:
print('Ashok',end=' ') # if we want output in the same line.
print('Learning',end=' ')
print('DS')

Ashok Learning DS

### Using .format()

In [46]:
name = "Ashok"
age = 25
print("My name is {} and I am {} years old.".format(name, age))

My name is Ashok and I am 25 years old.

#### Using f-strings (Recommended in Python 3.6+)

In [47]:
name = "Ashok"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Ashok and I am 25 years old.