# Operators

# Arithmetic operators

#### + -> Addition
#### - -> Subtraction
#### * -> Multiplication
#### / -> Division 
#### % -> Modulo
#### // -> Floor Division
#### ** -> Power

In [2]:
a,b = 10,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

12
8
20
5.0
0
5
100

In [3]:
a,b = 10.5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

12.5
8.5
21.0
5.25
0.5
5.0
110.25

# The difference between / and //

#### / (Division) operator always performs floating-point arithmetic. it always returns the float value.
#### // (Floor Division) performs both floating point and integral arithmetic. If arguments are of type int, then the result type is int. If one argument is a float, then the result is a float type

## Note

#### we can use +, * operators for str type also.
#### If we want to use + operator for str type then compulsory both arguments should be str otherwise we will get error

In [4]:
'abc'+'10'

'abc10'

In [5]:
'abc' + 10

TypeError: can only concatenate str (not "int") to str

#### If we use the * operator for str, one argument should be int and the other argument should be str

In [6]:
'abc'*10

'abcabcabcabcabcabcabcabcabcabc'

In [7]:
'abc' * 'def'

TypeError: can't multiply sequence by non-int of type 'str'

# Relational operators
### >,>=,<,<=

In [8]:
a,b = 10,20
print("a > b is",a>b)
print("a >= b is",a>=b)
print("a < b is",a<b)
print("a <= b is",a<=b)

a > b is False
a >= b is False
a < b is True
a <= b is True

In [11]:
# We can apply relational operators for the str type also
s1,s2 = 'ashok','data'
print("a > b is",a>b)
print("a >= b is",a>=b)
print("a < b is",a<b)
print("a <= b is",a<=b)

a > b is False
a >= b is False
a < b is True
a <= b is True

In [12]:
print(True > True)
print(10>True)
print(False > True)

False
True
False

In [13]:
a = int(input('Enter 1st number:'))
b = int(input('Enter 2cd number:'))
if a >b:
    print("a is greater than b")
else:
    print("b is grater than a")

Enter 1st number: 10
Enter 2cd number: 20

b is grater than a

## Note

#### Chaining of relational operators is possible. In the chaining, all comparisons return True; then only result is True. at least one comparison returns a false result is False

In [14]:
print(10<20)
print(10<20<30)
print(10<20<30<40>50)

True
True
False

# Equality Operators 
#### ==, !=

In [16]:
print(10 == 20)
print(10 != 20)
print('ashok' == 'ashok')
print(True == False)

False
True
True
False

#### Chaining of Equality operators is possible. In the chaining, all comparisons return True; then only result is True. at least one comparison returns a false result is False.

# Logical Operators

#### and -> if both arguments are True, then only result is True
#### or -> if one argument is True, then the result is True
#### not -> Complement

## 0 means False
## non-zero means False
## empty string is always treated as False

# x and y
#### if x evalutes to False then result is x other wise y

In [19]:
20 and 10

10

In [20]:
0 and 20

0

In [22]:
'' and 20

''

# x or y
#### if x evaluates to True, then result x otherwise result is y

In [23]:
print(0 or 20)

20

In [25]:
print(10 or 20)

10

In [26]:
print('' or 20)

20

# not x

#### if x is evalutated to False then result is True otherwise False.

In [27]:
not 10

False

In [28]:
not ''

True

In [29]:
not 0

True

# Assignment Operators

### +=, -=,*=, /=, %=, //=, **=, &=, |=, ^=, >>=, <==

In [35]:
x = 10
x += 20
x

30

In [40]:
x = 10
x = x+20
x

30

In [38]:
x = 10
x -= 20
x

-10

In [39]:
x = 10
x = x-20
x

-10

# Tenary Operator or Conditional Operator

### syntax x = firstValue if condition else secondValue.
### If condition is True then firstValue will be considered else secondValue will be considered.

In [41]:
a = int(input('Enter 1st number: '))
b = int(input('Enter 2cd number: '))
min = a if a<b else b
min

Enter 1st number:  10
Enter 2cd number:  20

10

In [43]:
a = int(input('Enter 1st number: '))
b = int(input('Enter 2cd number: '))
c = int(input('Enter 3rd number: '))
max = a if a>b and a>c else b if b>c else c
max

Enter 1st number:  10
Enter 2cd number:  20
Enter 3rd number:  30

30

In [44]:
a = int(input('Enter 1st number: '))
b = int(input('Enter 2cd number: '))
c = int(input('Enter 3rd number: '))
min = a if a<b and a<c else b if b<c else c
min

Enter 1st number:  10
Enter 2cd number:  20
Enter 3rd number:  30

10

# Special Operators

## Identity Operators

#### 1. We can use Identity operators for address comparison.
#### 2. two types
#### --> is
#### --> is not
#### r1 is r2 returns True. If both r1 and r2 are pointing to the same object.
#### r1 is not r2 returns True. if both r1 and r2 are pointing to the same object.

In [47]:
a,b = 10,10
a is b

True

In [48]:
a,b = 10,20
a is b

False

In [49]:
a is not b

True

# Note: 
### we can use is operator for address comparison where as == operator for content comparison

## Membership Operators

#### We can use Membership Operators to check whether the given object is present in the given collection (str, list, tuple, dict, set)
#### --> in -> Returns True if the given object is present in the specified collection.
#### --> not in -> Returns True if the given object is not present in the specified collection.

In [50]:
x = 'Hello learning python is very easy'
'H' in x

True

In [51]:
'i' in x

True

In [53]:
'z' in x

False

In [54]:
'z' not in x

True

In [55]:
l1 = [1,2.5,10+20j]
l2 = [3,2.5,20,True]
l1 in l2

False

In [56]:
1 in l1

True

In [57]:
'abc' in l1

False

In [58]:
'abc' not in l1

True

# Operator Precendence

### if multiple operator present then which operator will be evaluated first is decided by operator precedence

#### 1. () -> Parenthesis
#### 2. ** -> Exponential
#### 3. *, /, %, // -> Multiplication, Divison, Modulo, Floor Division
#### 4. +, - -> Addition, Subtraction
#### 5. <<, >> -> Left and right shift
#### 6. >, >=, <, <=, ==, != -> Relational or Comparison
#### 7. =, +=, -=, *= -> Assignment 
#### 8. is, is not -> Identity
#### 9. in, not in -> Membership
#### 10. not -> logical not
#### 11. and -> logical and
#### 12. or -> logical or